header {
    padding-top: 10px;
}

body {
    background-image: url("./images/background.png");
}

main {
    background-color: rgba(233, 236, 239, 0.8);
}

section {
    padding-top: 25px;
}

h2 {
    padding-bottom: 15px;
}

h2[class="section-title"]{
    font-size:2.5rem;
}

h3 {
    padding-top: 50px;
    padding-bottom: 10px;
}

h3[class="section-title"]{
    font-size:2.5rem;
}

.link-title{
    font-size: 1.75rem;
}

li a{
    font-size: 2rem;
}

p[class="lead"]{
    font-size: 1.5rem;
}

@media (max-width: 425px) {
    .imagecarousel {
      height: 250px;
    }

    .videocarousel {
        width: 284px;
        height: 160px;
      }
}

p, table{
    font-size: 1.5rem;
}
